* {
  font-family: sans-serif;
}

/* .styleFixed {
  position: sticky;
  top: -100%;
} */

.menu {
  position: fixed;
  transition: all 3s ease;
  top: -100%;
}
.navbar {
  position: fixed;
  transition: all 3s ease;
  top: -100%;
}

.fixedStyle {
  position: fixed;
  transition: all 1s ease;
  top: 0px;
   /* transform: translateY(0%); */
}


.togglSideNav{
  left: -100%;
}
.animationSlow{
  width: 100%;
}
