<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="../style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../Images/icon.png" />
    <title>Nằm mơ thấy đánh lộn đánh số gì để làm giàu nhanh chóng?</title>
    <meta name="keywords" content="Nằm mơ thấy, Đá Gà, Xóc Đĩa, Bầu Cua, Nổ Hũ, Bắn Cá, Sòng Bài, Sicbo, Xổ Số, Baccarat">
    <meta name="description" content="Nằm mơ thấy đánh lộn đánh số gì để mang đến nhiều vận may khi chơi lô đề? Sự việc này ẩn chứa những điềm báo hung hay cát và có ảnh hưởng gì hay không?">
  </head>
  <body>
    <div class="w-full bg-[#F4F4F4]">
      <!-- Header -->
      <div class="w-full hidden lg:block">
        <!-- header -->
        <div class="bg-[#1D1D1D] w-full">
          <div
            class="max-w-[1156px] px-4 xl:px-0 mx-auto py-5 hidden lg:flex items-center justify-between text-white"
          >
            <div class="flex items-center space-x-8">
              <div>
                <a href="../index.html">
                  <img class="w-56" src="../Images/logo.png" alt="" />
                </a>
              </div>
              <div class="font-bold flex items-center space-x-4">
                <a class="" href="../index.html">FAFA118</a>
                <a class="" href="../ban-ca-xeng-doi-thuong.html"> BẮN CÁ </a>
                <a class="" href="../da-ga-campuchia-truc-tiep.html"> ĐÁ GÀ </a>
                <a class="" href="../tin-tuc.html"> TIN TỨC </a>
              </div>
            </div>
            <div class="space-x-5 flex items-center">
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button class="bg-[#E35701] py-[7px] px-4 text-sm rounded">
                  ĐĂNG KÝ
                </button>
              </a>
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button class="bg-[#FC8E0F] py-[7px] px-4 text-sm rounded">
                  ĐĂNG NHẬP
                </button>
              </a>
            </div>
          </div>
        </div>

        <!-- header2 -->
        <div class="bg-[#1D1D1D] menu w-full">
          <div
            class="max-w-[1156px] px-4 xl:px-0 mx-auto py-5 hidden lg:flex items-center justify-between text-white"
          >
            <div class="flex items-center space-x-8">
              <div>
                <a href="../index.html">
                  <img class="w-56" src="../Images/logo.png" alt="" />
                </a>
              </div>
              <div class="font-bold flex items-center space-x-4">
                <a class="" href="../index.html">FAFA118</a>
                <a class="" href="../ban-ca-xeng-doi-thuong.html"> BẮN CÁ </a>
                <a class="" href="../da-ga-campuchia-truc-tiep.html"> ĐÁ GÀ </a>
                <a class="" href="../tin-tuc.html"> TIN TỨC </a>
              </div>
            </div>
            <div class="space-x-5 flex items-center">
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button class="bg-[#E35701] py-[7px] px-4 text-sm rounded">
                  ĐĂNG KÝ
                </button>
              </a>
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button class="bg-[#FC8E0F] py-[7px] px-4 text-sm rounded">
                  ĐĂNG NHẬP
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- small navbar -->
      <div class="lg:hidden w-full">
        <!-- nav1 -->
        <div>
          <div
            class="flex justify-between items-center py-4 px-4 bg-[#1d1d1d] text-white"
          >
            <div onclick="clickShow()" class="menuAnimation text-3xl">
              <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div>
              <a href="./index.html">
                <img class="w-56" src="./Images/logo.png" alt="" />
              </a>
            </div>
            <div class="w-7"></div>
          </div>
          <div
            class="flex justify-center items-center w-full py-3 bg-[#E96519] text-white font-semibold"
          >
            <div class="space-x-6 flex items-center">
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button
                  class="bg-[#E35701] shadow-gray-500 shadow-sm py-[7px] px-4 text-sm rounded"
                >
                  ĐĂNG KÝ
                </button>
              </a>
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button
                  class="bg-[#FC8E0F] shadow-gray-500 shadow-sm py-[7px] px-4 text-sm rounded"
                >
                  ĐĂNG NHẬP
                </button>
              </a>
            </div>
          </div>
        </div>

        <!-- nav2 -->
        <div class="navbar w-full bg-[#1d1d1d]">
          <div
            class="flex justify-between items-center py-4 px-4 bg-[#1d1d1d] text-white"
          >
            <div class="menuAnimation text-3xl">
              <ion-icon onclick="clickShow()" name="menu-outline"></ion-icon>
            </div>
            <div>
              <a href="./index.html">
                <img class="w-56" src="./Images/logo.png" alt="" />
              </a>
            </div>
            <div class="w-7"></div>
          </div>
          <div
            class="flex justify-center items-center w-full py-3 bg-[#E96519] text-white font-semibold"
          >
            <div class="space-x-6 flex items-center">
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button
                  class="bg-[#E35701] shadow-gray-500 shadow-sm py-[7px] px-4 text-sm rounded"
                >
                  ĐĂNG KÝ
                </button>
              </a>
              <a href="https://www.hay88.one/?inviteCode=3873195">
                <button
                  class="bg-[#FC8E0F] shadow-gray-500 shadow-sm py-[7px] px-4 text-sm rounded"
                >
                  ĐĂNG NHẬP
                </button>
              </a>
            </div>
          </div>
        </div>

        <!-- side nav -->
        <div
          onclick="clickHide()"
          class="togglSideNav w-full flex h-screen fixed top-0 lg:hidden"
        >
          <div
            class="h-full w-[62%] md:w-[30%] bg-gray-900 px-[1px] text-sm space-y-2 flex flex-col pt-10 text-gray-300 font-semibold"
          >
            <a class="py-2 border-b border-gray-400 pl-4" href="../index.html">
              FAFA118
            </a>
            <a
              class="py-2 border-b border-gray-400 pl-4"
              href="../ban-ca-xeng-doi-thuong.html"
            >
              BẮN CÁ
            </a>
            <a
              class="py-2 border-b border-gray-400 pl-4"
              href="../da-ga-campuchia-truc-tiep.html"
            >
              ĐÁ GÀ
            </a>
            <a class="py-2 border-b border-gray-400 pl-4" href="../tin-tuc.html">
              TIN TỨC
            </a>
          </div>
          <div class="w-[38%] md:w-[70%] h-full">
            <div
              class="animationSlow inset-0 bg-gray-800 bg-opacity-70 relative h-full"
            >
              <ion-icon
                onclick="clickHide()"
                name="close-outline"
                class="absolute top-4 right-4 text-gray-400 text-3xl"
              ></ion-icon>
            </div>
          </div>
        </div>
      </div>

      <!-- container -->
      <div
        class="lg:flex lg:space-x-4 space-y-8 lg:space-y-0 max-w-[1156px] mx-auto pt-9 pb-5 px-4 lg:px-0"
      >
        <div class="lg:w-[70%] xl:w-[75%] shadow rounded-xl bg-[#FFFFFF]">
          <div
            class="py-3 pl-5 pr-2 rounded-t-xl bg-gray-300 inset-0 bg-opacity-65"
          >
            <span> <a href="../index.html">Home</a> </span>
            / <span><a href="../tin-tuc.html">Tin tức</a></span> / Nằm mơ thấy
            đánh lộn đánh số gì để làm giàu nhanh chóng?
          </div>

          <div class="w-full px-6 pt-6 pb-10 space-y-5">
            <!-- 1 -->
            <div class="space-y-4">
              <h1 class="text-3xl font-bold text-[#FC8A0F]">
                Nằm mơ thấy đánh lộn đánh số gì để làm giàu nhanh chóng?
              </h1>

              <p>
                Không ít người đã từng đặt ra câu hỏi
                <span class="font-bold"> nằm mơ thấy đánh lộn đánh số gì </span>
                để nhanh giàu cũng như tìm hiểu về điềm báo ẩn chứa trong nó bởi
                đây là sự việc không hề hiếm gặp. Bất kỳ ai khi đánh nhau bắt
                cũng sẽ xuất hiện cảm giác khó chịu và lo sợ. FAFA118 sẽ giúp anh
                em giải mã chi tiết về hiện tượng này thông qua bài viết dưới
                đây nhé!
              </p>

              <h1 class="text-2xl font-bold text-[#E35701]">
                Ý nghĩa ẩn trong sự việc đánh nhau là gì?
              </h1>

              <p>
                Mọi người đều biết rằng vốn dĩ đánh nhau liên quan đặc biệt tới
                pháp luật và tội phạm. Chính vì vậy, bất cứ ai trong chúng ta
                đều không mong muốn sẽ gặp phải công an ngoài đời thực. Khi bạn
                bị đánh trong bất cứ hoàn cảnh nào chắc chắn đều sẽ có cảm giác
                lo sợ, thậm chí là ám ảnh tâm lý nặng nề. Do đó, hãy cố gắng
                sống tốt và đừng đánh nhau để phải đụng độ tới công an.
              </p>

              <p>
                Nhiều người cho rằng, mơ đánh nhau đơn giản là do 2 người đó có
                xích mích và khi ngủ thì mơ đến. Nhưng không biết trong đó cũng
                ẩn chứa rất nhiều ý nghĩa, điềm báo cũng như các con số dành
                riêng cho các anh em cược thủ. Theo dõi tiếp nội dung bài viết
                để được FAFA118 giải mã tường tận về sự việc này nhé!
              </p>

              <div class="space-y-4">
                <div class="flex justify-center items-center">
                  <img src="../Images/nam-mo1.jpg" alt="" />
                </div>
              </div>

              <p>Ý nghĩa ẩn trong sự việc đánh nhau là gì?</p>
            </div>

            <!-- 2 -->
            <div class="space-y-4">
              <h1 class="text-2xl font-bold text-[#E35701]">
                Nằm mơ thấy đánh lộn đánh số gì để thắng? Có điềm báo gì?
              </h1>

              <p>
                Cùng tham khảo ngay những giải mã chi tiết
                <span class="font-bold"> nằm mơ thấy đánh lộn đánh số gì </span>
                và điềm báo mà sự việc này mang tới nhé!
              </p>

              <h1 class="text-xl font-bold text-[#E35701]">
                Bị công an giao thông bắt khi đánh nhau trên đường
              </h1>

              <p>
                Đây là sự cảnh báo cho bạn về vấn đề an toàn giao thông khi di
                chuyển ngoài đường. Bạn cần phải hết sức cẩn thận, chú ý mỗi khi
                ra ngoài bởi bạn sẽ không chỉ mất tiền phạt mà thậm chí sẽ còn
                ảnh hưởng trực tiếp tới tính mạng của bạn.
              </p>

              <div class="flex flex-col justify-center space-y-4">
                <p>
                  <span class="font-bold">
                    Nằm mơ thấy đánh lộn đánh số gì
                  </span>
                  để thắng lớn? Khi bị công an giao thông bắt khi đánh nhau trên
                  đường đánh cặp số <span class="font-bold"> 02 – 22</span> để
                  giải đen nhé!
                </p>
                <img src="../Images/nam-mo2.jpg" alt="" />
              </div>

              <p>Bị công an giao thông bắt khi đánh nhau trên đường</p>
            </div>

            <!-- 3 -->
            <div class="space-y-4">
              <h1 class="text-xl font-bold text-[#E35701]">
                Nằm mơ thấy đánh lộn đánh số gì khi hành vi thực hiện trên ô tô?
              </h1>

              <p>
                Bạn đừng quá lo lắng bởi đây là điềm báo tốt đẹp và trong thời
                gian sắp tới bạn chắc chắn sẽ gặp được rất nhiều như mong muốn.
                Hơn nữa, bạn còn gặp được rất nhiều người cùng hỗ trợ và giúp đỡ
                bạn hoàn thành mục tiêu. Tuy nhiên, trước khi tiến tới thành
                công thì bạn cũng phải trải qua một số sự rắc rối nhỏ nhưng đều
                có thể tháo gỡ được.
              </p>
              <p>
                <span class="font-bold"> Nằm mơ thấy đánh lộn đánh số gì </span>
                khi hành vi thực hiện trên ô tô? Con số may mắn
                <span class="font-bold">15</span> sẽ giúp bạn phát tài.
              </p>

              <h1 class="text-xl font-bold text-[#E35701]">
                Chiêm bao thấy đánh lộn với công an
              </h1>

              <p>
                Mọi kế hoạch, mục tiêu của bạn trong thời gian tới đều có thể
                hoàn thành và được diễn ra vô cùng suôn sẻ. Chỉ cần bạn cố gắng,
                nỗ lực hết mình thì kết quả đem lại sẽ cực kỳ xứng đáng và thành
                công vang dội hơn cả những gì bạn kỳ vọng ban đầu.
              </p>

              <div class="space-y-4">
                <p>
                  <span class="font-bold">
                    Nằm mơ thấy đánh lộn đánh số gì
                  </span>
                  khi đánh lộn với công an? Câu trả lời chính là:
                  <span class="font-bold">42 – 36</span>.
                </p>
                <div class="flex justify-center">
                  <img src="../Images/nam-mo3.jpg" alt="" />
                </div>
              </div>
              <p>Nằm mơ thấy đánh lộn với công an</p>
            </div>

            <!-- 4 -->
            <div class="space-y-4">
              <h1 class="text-xl font-bold text-[#E35701]">
                Công an bắt người thân của bạn khi đang đánh lộn
              </h1>

              <p>
                Theo những chuyên gia giải thuật giấc mơ thì đây là điềm báo
                xấu, cho rằng thời gian tới có khả năng bạn sẽ bị dính tới pháp
                luật hay nặng hơn sẽ bị đi tù. Do đó, bạn nên chấm dứt ngay và
                không thực hiện những hành vi vi phạm pháp luật nếu không muốn
                đi tới kết cục có hậu quả khôn lường
              </p>

              <div class="space-y-4">
                <p>
                  Công an bắt người thân của bạn khi đang đánh lộn tương ứng với
                  bộ số phát tài <span class="font-bold"> 03 – 79</span>.
                </p>
                <div class="flex justify-center">
                  <img src="../Images/nam-mo4.jpg" alt="" />
                </div>
              </div>
              <p>Công an bắt người thân của bạn khi đang đánh lộn</p>
            </div>

            <!-- 5 -->
            <div class="space-y-4">
              <h1 class="text-2xl font-bold text-[#E35701]">
                Nằm mơ thấy đánh lộn đánh số gì dễ trúng thưởng?
              </h1>

              <p>
                Bên cạnh những trường hợp mà FAFA118 đã kể ra ở trên thì tùy thuộc
                vào từng nội dung, tình huống chi tiết mà bạn gặp phải sẽ tương
                ứng với các con số khác nhau để từ đó lý giải được việc khi
                <span class="font-bold"> nằm mơ thấy đánh lộn đánh số gì</span>.
                Cụ thể:
              </p>

              <ul class="list-disc pl-8 space-y-3">
                <li>
                  Mộng thấy bản thân bị công an bắt vào tù vì tội đánh nhau
                  tương ứng với bộ ba số
                  <span class="font-bold">98 – 88 – 48</span>.
                </li>
                <li>
                  Chiêm bao thấy mình đang xông lên đánh công an đánh ngay các
                  số <span class="font-bold">89 – 46 – 23</span>.
                </li>
                <li>
                  Công an ập vào nhà xuất bắt bố mẹ đang đánh nhau hiện trong
                  giấc mơ thì ghi nhanh con lô
                  <span class="font-bold"> 45 – 87</span>.
                </li>
                <li>
                  <span class="font-bold">
                    Nằm mơ thấy đánh lộn đánh số gì
                  </span>
                  khi đang đánh bạc bị công an bắt? Đầu tư ngay bộ số
                  <span class="font-bold">23 – 14</span>.
                </li>
                <li>
                  Mơ bản thân bị người lạ đánh thì xuống tiền ngay với
                  <span class="font-bold">15 – 85</span>
                  để vào bờ an toàn.
                </li>
                <li>
                  <span class="font-bold">
                    Nằm mơ thấy đánh lộn đánh số gì
                  </span>
                  để ăn lớn? Đánh nhau bị công an bắt trong mơ, nhanh tay đánh
                  cặp số <span class="font-bold">16 – 74</span>.
                </li>
              </ul>

              <div class="space-y-4">
                <div class="flex justify-center">
                  <img src="../Images/nam-mo5.jpg" alt="" />
                </div>
              </div>
              <p>Nằm mơ thấy đánh lộn đánh số gì dễ trúng thưởng?</p>
            </div>

            <h1 class="text-2xl font-bold text-[#E35701]">Lời kết</h1>

            <p>
              Trên đây FAFA118 đã giúp các bạn giải mã chi tiết cho sự việc
              <span class="font-bold"> nằm mơ thấy đánh lộn đánh số gì </span>
              để nhanh giàu. Mong rằng anh em cược thủ sẽ có được lời giải đáp
              cho mọi thắc mắc đồng thời lựa chọn ra con số để đầu tư và mang
              đến cơ hội chiến thắng cao và chạm tới được giấc mơ đổi đời thành
              công nhé!
            </p>

            <!-- footer components -->
            <div class="space-y-6">
              <div class="py-5"></div>
              <div class="w-full pl-6 py-8 border rounded border-gray-200">
                <img class="w-56" src="../Images/logo.png" alt="" />
              </div>

              <p class="font-bold text-gray-600">BÀI ĐĂNG LIÊN QUAN KHÁC</p>
              <ul class="list-disc pl-8 space-y-2">
                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Cách chơi bài chắn thần tài và các lỗi thường gặp nhất</a
                  >
                </li>

                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Luật bài cào 3 lá – Thuật ngữ chi tiết của bài cào cho
                    bạn</a
                  >
                </li>

                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Luật bắt kèo bóng đá từ A – Z dành cho những hội viên
                    mới</a
                  >
                </li>

                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Gà 3 hàng vảy là gì? Những yếu tố để nhận diện chiến kê</a
                  >
                </li>

                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Gà khét mạng gì? Gà khét đi đá thì ngày nào là tốt nhất?</a
                  >
                </li>

                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Bắn cá mania và những tính năng độc đáo chỉ có tại FAFA118</a
                  >
                </li>

                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Top thuốc cho gà đá không chạy và lưu ý khi dùng cho sư
                    kê</a
                  >
                </li>

                <li class="py-2 border-b border-gray-400 border-dashed">
                  <a class="hover:underline transition-all duration-200" href=""
                    >Nằm mơ thấy đánh lộn đánh số gì để làm giàu nhanh chóng?</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="xl:w-[25%] lg:w-[27%] md:pb-4 lg:pb-0">
          <div class="shadow rounded-xl border pb-4 bg-[#1D2327]">
            <div class="rounded-t-xl bg-[#E35701] pl-4 py-2 text-white">
              <h1 class="font-bold text-xl">BÀI VIẾT MỚI</h1>
            </div>
            <div class="rounded-b-xl text-white">
              <div class="p-3 pt-5 space-y-2 text-sm">
                <!-- 1 -->
                <!-- <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon1.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="#">
                      Cách chơi bài chắn thần tài và các lỗi thường gặp...
                    </a>
                  </p>
                </div> -->

                <!-- 2 used-->
                <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon2.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="../components/luat-bai-cao-3-la.html">
                      Luật bài cào 3 lá – Thuật ngữ chi tiết của bài cào...
                    </a>
                  </p>
                </div>

                <!-- 3 used-->
                <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon3.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="../components/keo-chap-1-3-4-la-nhu-the-nao.html">
                      Kèo chấp 1 3/4 là như thế nào? Các tình huống xuất hiện...
                    </a>
                  </p>
                </div>

                <!-- 4 used-->
                <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon4.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="../components/luat-bat-keo-bong-da.html">
                      Luật bắt kèo bóng đá từ A – Z dành cho những hội viên
                      mới...
                    </a>
                  </p>
                </div>

                <!-- 5 -->
                <!-- <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon5.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="#">
                      Gà 3 hàng vảy là gì? Những yếu tố để nhận diện chiến kê...
                    </a>
                  </p>
                </div> -->

                <!-- 6 used-->
                <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon6.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="../components/ga-khet-mang-gi.html">
                      Gà khét mạng gì? Gà khét đi đá thì ngày nào là tốt
                      nhất?...
                    </a>
                  </p>
                </div>

                <!-- 7 used-->
                <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon7.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="../components/ban-ca-mania.html">
                      Bắn cá mania và những tính năng độc đáo chỉ có tại
                      FAFA118...
                    </a>
                  </p>
                </div>

                <!-- 8 -->
                <!-- <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon8.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="#">
                      Top thuốc cho gà đá không chạy và lưu ý khi dùng cho sư
                      kê...
                    </a>
                  </p>
                </div> -->

                <!-- 9 used-->
                <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon9.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a
                      href="../components/nam-mo-thay-danh-lon-danh-so-gi.html"
                    >
                      Nằm mơ thấy đánh lộn đánh số gì để làm giàu nhanh
                      chóng?...
                    </a>
                  </p>
                </div>
                <!-- 10 -->
                <!-- <div
                  class="flex items-center pb-3 space-x-3 border-b border-gray-600"
                >
                  <img class="w-14" src="../Images/icon10.jpg" alt="" />
                  <p
                    class="hover:underline hover:text-[#E27E11] transition-all duration-200"
                  >
                    <a href="#">
                      Cách tập luyện cho gà đá cựa sắt cho anh em sư kê học
                      hỏi...
                    </a>
                  </p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="pt-3 md:pt-0 lg:pt-4"></div>
      <div class="bg-[#202020]">
        <div
          class="px-4 xl:px-0 max-w-[1156px] mx-auto py-6 text-white grid grid-cols-1 lg:grid-cols-2 gap-10"
        >
          <div class="space-y-3">
            <h1 class="font-bold">GIỚI THIỆU FAFA118</h1>
            <p class="w-20 border-b border-gray-500"></p>
            <p class="pt-1">
              FAFA118 được biết đến là nhà cái cá cược trực tuyến uy tín hàng đầu
              Việt Nam. Với hơn 10 năm trong lĩnh vực cá cược, tự tin luôn đem
              đên một sân chơi xanh chín cho tất cả anh em cược thủ Việt Nam.
              Đặc biệt nhà cái FAFA118 đều đưa ra những trường trình khuyến mãi và
              những phần quà bất ngờ mỗi ngày cho tất cả thành viên.
            </p>
          </div>

          <div class="grid md:grid-cols-2 grid-cols-1 gap-10">
            <div class="space-y-3">
              <h1 class="font-bold">LINK TIỆN ÍCH</h1>
              <p class="w-20 border-b border-gray-500"></p>
              <ul
                class="space-y-3 *:py-2 *:border-b *:border-gray-700 text-gray-100 text-sm"
              >
                <li>
                  <a href="../bai-cao-poker.html"> Bài Cào </a>
                </li>

                <li><a href="../da-ga-campuchia-truc-tiep.html"> Đá Gà </a></li>

                <li><a href="../ban-ca-xeng-doi-thuong.html"> Bắn Cá </a></li>
                <li>
                  <a href="../ca-cuoc-co-trach-nhiem.html">
                    Cá cược có trách nhiệm
                  </a>
                </li>

                <li>
                  <a href="../chinh-sach-bao-mat.html"> Chính sách bảo mật </a>
                </li>
              </ul>
            </div>

            <div class="space-y-3">
              <h1 class="font-bold">LIÊN HỆ</h1>
              <p class="w-20 border-b border-gray-500"></p>
              <ul class="space-y-3 list-disc pl-4 text-gray-100 text-sm">
                <li>Thương Hiệu: FAFA118</li>

                
                <li>Website: https://fafa118.life/</li>

                <li>
                  Địa chỉ: 178/16 Bình Quới, Phường 27, Bình Thạnh, Thành Phố Hồ
                  Chí Minh
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../script.js"></script>
  </body>
</html>
